<?xml version="1.0" encoding="UTF-8"?>
<html>
<head>
	<title>Open Search</title>
	<link rel="search" type="application/opensearchdescription+xml" href="wikipedia.xml" title="維基百科">
</head>
<body>
    <h1>Open Search</h1>
    <input type="text"></input>
</body>
</html>