<?xml version="1.0" encoding="UTF-8"?>
<html>
<head>
	<title>Open Search</title>
    <link rel="search" type="application/opensearchdescription+xml" href="<%= engine %>.xml" title="<%= title %>">
</head>
<body>
    <h1>Open Search</h1>
    <input type="text" style="visibility: hidden"></input>
    <ul>
        <li>搜尋引擎</li>
        <ul>
            <li><a href="http://localhost:3000?engine=google&title=Google">Google</a></li>
            <li><a href="http://localhost:3000?engine=yahoo&title=Yahoo奇摩!">Yahoo奇摩!</a></li>
            <li><a href="http://localhost:3000?engine=bing&title=Bing">Bing</a></li>
            <li><a href="http://localhost:3000?engine=duckduckgo&title=DuckDuckGo">DuckDuckGo</a></li>
        </ul>
        <li>字典、百科</li>
        <ul>
            <li><a href="http://localhost:3000?engine=yahoo-dict&title=Yahoo!奇摩字典">Yahoo!奇摩字典</a></li>
            <li><a href="http://localhost:3000?engine=wiktionary&title=維基辭典">維基辭典</a></li>
            <li><a href="http://localhost:3000?engine=wikipedia&title=維基百科">維基百科</a></li>
        </ul>
        <li>影音串流</li>
        <ul>
            <li><a href="http://localhost:3000?engine=youtube&title=Youtube">Youtube</a></li>
        </ul>
        <li>ACG</li>
        <ul>
            <li><a href="http://localhost:3000?engine=baha&title=巴哈姆特">巴哈姆特</a></li>
            <li><a href="http://localhost:3000?engine=baha-ani&title=動畫瘋">巴哈姆特 動畫瘋</a></li>
            <li><a href="http://localhost:3000?engine=anime1-me&title=Anime1.me">Anime1.me</a></li>
        </ul>
        <li>論壇</li>
        <ul>
            <li><a href="http://localhost:3000?engine=apktw&title=Android台灣中文網">Android台灣中文網</a></li>
            <li><a href="http://localhost:3000?engine=eyny01&title=伊莉討論區">伊莉討論區</a></li>
        </ul>
        <li>軟體搜尋</li>
        <ul>
            <li><a href="http://localhost:3000?engine=azo&title=阿榮福利味">阿榮福利味</a></li>
        </ul>
    </ul>
    
   
</body>
</html>